<div class="flex min-h-screen font-sans bg-white">
  <section class="hidden md:flex md:w-1/2 bg-[#ebf2ff] p-12 lg:p-24 flex-col justify-center border-r border-slate-100">
    <div class="max-w-md">
      <div class="flex items-center gap-3 mb-16 text-[#1d5cff]">
        <i class="fa-solid fa-code-branch text-2xl"></i>
        <span class="text-xl font-bold">Exam App</span>
      </div>
      <h1 class="text-[38px] font-bold text-[#1e293b] leading-[1.2] mb-12">Empower your learning journey with our smart exam platform.</h1>

      <div class="space-y-10">
        @for (f of features; track f.title) {
          <div class="flex gap-5">
            <div class="text-[#1d5cff] border-2 border-[#1d5cff] w-12 h-12 flex items-center justify-center rounded-lg shrink-0">
              <i [class]="f.icon"></i>
            </div>
            <div>
              <h3 class="font-bold text-[#1d5cff] text-lg font-mono tracking-tight">{{ f.title }}</h3>
              <p class="text-slate-500 text-[14px] leading-relaxed mt-1 font-mono">{{ f.desc }}</p>
            </div>
          </div>
        }
      </div>
    </div>
  </section>

  <main class="w-full md:w-1/2 flex items-center justify-center p-6 relative bg-white">

    @if (currentStep() === 1) {
      <div class="w-full max-w-[400px] animate-fade-in">
        <h2 class="text-3xl font-bold text-[#1e293b] mb-4">Forgot Password</h2>
        <p class="text-slate-500 font-mono text-sm mb-10 leading-relaxed">
          Don't worry, we will help you recover your account.
        </p>
        <form class="space-y-8">
          <div>
            <label class="label-style">Email</label>
            <input type="email" class="custom-input w-full p-3" placeholder="user@example.com">
          </div>
          <button type="button" (click)="nextStep()" class="w-full py-4 bg-[#1d5cff] text-white font-bold rounded-sm text-sm hover:bg-blue-700 transition-all">
            Continue →
          </button>
          <p class="text-center text-[13px] text-slate-500 font-mono">
            Don't have an account? <a href="#" class="text-[#1d5cff] font-bold hover:underline">Create yours</a>
          </p>
        </form>
      </div>
    }

    @else if (currentStep() === 2) {
      <div class="w-full max-w-[420px] animate-fade-in">
        <button (click)="prevStep()" class="absolute top-10 left-10 w-10 h-10 border border-slate-200 rounded-lg text-slate-400 flex items-center justify-center hover:bg-slate-50">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <h2 class="text-3xl font-bold text-[#1e293b] mb-6">Password Reset Sent</h2>
        <p class="text-slate-500 font-mono text-sm mb-4">
          We have sent a password reset link to: <br>
          <span class="text-[#1d5cff] font-bold">user@example.com.</span>
        </p>
        <p class="text-slate-500 font-mono text-sm mb-8 leading-relaxed">
          Please check your inbox and follow the instructions to reset your password. <br><br>
          If you don't see the email within a few minutes, check your spam or junk folder.
        </p>
        <button type="button" (click)="nextStep()" class="text-[#1d5cff] font-bold hover:underline font-mono text-sm">
           Resend email
        </button>
        <div class="mt-12 pt-8 border-t border-slate-100">
           <p class="text-center text-[13px] text-slate-500 font-mono">
             Don't have an account? <a href="#" class="text-[#1d5cff] font-bold hover:underline">Create yours</a>
           </p>
        </div>
      </div>
    }

    @else if (currentStep() === 3) {
      <div class="w-full max-w-[450px] animate-fade-in">
        <h2 class="text-3xl font-bold text-[#1e293b] mb-2">Create a New Password</h2>
        <p class="text-slate-500 font-mono text-sm mb-10">Create a new strong password for your account.</p>
        <form class="space-y-6">
          <div>
            <label class="label-style">New Password</label>
            <div class="relative">
              <input type="password" class="custom-input w-full p-3 pr-12" placeholder="********">
              <i class="fa-regular fa-eye-slash absolute right-4 top-4 text-slate-300"></i>
            </div>
          </div>
          <div>
            <label class="label-style">Confirm New Password</label>
            <div class="relative">
              <input type="password" class="custom-input w-full p-3 pr-12" placeholder="********">
              <i class="fa-regular fa-eye-slash absolute right-4 top-4 text-slate-300"></i>
            </div>
          </div>
          <button type="button" class="w-full py-4 bg-[#1d5cff] text-white font-bold rounded-sm mt-4 hover:bg-blue-700 shadow-lg transition-all">
            Reset Password
          </button>
          <p class="text-center text-[13px] text-slate-500 font-mono mt-8">
            Don't have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="text-[#1d5cff] font-bold hover:underline">Create yours</a>
          </p>
        </form>
      </div>
    }
  </main>
</div>
